/* Page */

.analysis-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Search Option */

.image-grid {
    display: flex;
    padding-right: 4vw;
}

.search-result {
    display: flex;
    flex-direction: column;
    margin: 0 0.5vw 1vw;
}

.search-result-image {
    height: auto;
    max-width: 100%;
}

.search-result-plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 0.625vw;
    background-color: #7dad0b;
    margin: 0.5vw;
    cursor: pointer;
}

.plus {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25vw;
    align-self: center;
}

.show-search-result-info {
    display: flex;
}

.description {
    position: relative;
    height: fit-content;
    padding: 1vw 1.5vw 1.5vw 1.5vw;
}

.description-heading {
    font-weight: 600;
    font-style: italic;
    font-size: 1vw;
    margin: 0.5vw 0 0.5vw 0;
}

.description-label {
    font-weight: 600;
    margin: 0 0.4vw 0 0;
}

.exit {
    position: absolute;
    right: 1vw;
    top: 1vw;
    background-color: #9c9c9c;
}

.exit:hover {
    background-color: #079CCC;
}

.x {
    font-size: 0.75vw;
}

.search-redirect-button {
    background-color:#9c9c9c;
	border: none;
	display: flex;
	border-radius: 5vw;
	font-family: proxima-nova, sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8vw;
	justify-content: space-between;
	margin: 1vw 0 0 0;
	padding: 0.3vw 1vw;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
}

.search-redirect-button:hover {
    background-color: #079CCC;
}

/* Analysis Option */

.analysis-option-container {
	display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0px 3px 10px #00000012;
	border: 1px solid #DEDDDD;
	border-radius: 2vw;
    width: 27vw;
    margin: 0 1.5vw 1vw 0;
    padding: 3vw 5vw;
    overflow-y: scroll;
}

.analysis-option-heading {
    font-family: proxima-nova, sans-serif;
	color: #4E4E4E;
	margin: 0 0 0.5vw 0;
	font-weight: 600;
	font-size: 1vw;
    font-style: normal;
	text-transform: none;
	letter-spacing: 0.07vw;
	text-transform: uppercase;
    text-align: center;
}

.analysis-option-description {
    color: #707070;
    text-align: center;
    margin: 0 0 1.5vw 0;
}

.analysis-option-button {
    background-color: #7dad0b;
    width: 5vw;
    border-radius: 1vw;
    padding: 0.25vw;
    align-self: center;
    font-family: proxima-nova, sans-serif;
	color: #FFFFFF;
	font-size: 0.85vw;
	font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.analysis-option-button:hover {
    background-color: #5d8108;
}

/* Download by Class */

.page-heading {
    text-align: left;
    font-size: 1.25vw;
    color: #707070;
}

.download-steps {
    display: flex;
    flex-wrap: wrap;
}

.download-step-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px #00000012;
	border: 1px solid #DEDDDD;
	border-radius: 2vw;
    width: 40vw;
    margin: 1vw 1.5vw 1vw 0;
    padding: 3vw;
    height: fit-content;
    max-height: 70vh;
    overflow-x: scroll;
}

.classifiers {
    max-height: 40vh;
}

.download-step-heading {
    display: flex;
    margin: 0 0 1vw 0;
}

.step-icon {
    background-color: #16609F;
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 1.25vw;
    margin: 0 0.75vw 0 0;
    padding: 0.04vw 0 0 0;
    font-family: proxima-nova, sans-serif;
	color: #FFFFFF;
	font-weight: 600;
    font-size: 0.85vw;
    text-align: center;
}

.download-step-text {
    font-style: italic;
    font-weight: 600;
    font-size: 1vw;
    color: #707070;
    margin: -0.1vw 0 0 0;
}

.download-step-subtext {
    color: #707070;
    margin: -0.75vw 0 2vw 2vw;
}

.class-options {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 1.25vw;
}

.download-option {
    width: fit-content;
    margin: 0.75vw 0 0 0.5vw;
    text-transform: capitalize;
}

.download-button {
    background-color: #079CCC;
    width: fit-content;
    border: none;
	display: flex;
	border-radius: 5vw;
	font-family: proxima-nova, sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-size: 1vw;
	justify-content: space-between;
	margin: 2vw 0 0 0vw;
	padding: 0.5vw 1.25vw;
	cursor: pointer;
}

.download-button:hover {
    background-color: #16609F;
}