/* Page */

.analysis-option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Analysis Option */

.analysis-option-container {
	box-shadow: 0px 3px 10px #00000012;
	border: 1px solid #DEDDDD;
	border-radius: 2vw;
    width: 30vw;
    margin: 0 1vw 1vw 0;
    padding: 2vw;
}