/* CSS Document */


/* Header */

.header {
	width: 100%;
	/* position: fixed; */
    background: transparent;
	height: 10vw;
	z-index: 10000;
}

.navbar {
	display: flex;
	float: right;
	margin: 5vw 5vw;
    background-color: #16609F;
    padding: 1vw;
    border-radius: 2vw;
}

.login-navbar {
	display: flex;
	margin: 0;
	background-color: #FFFFFF;
	border-radius: 2vw;
	padding: 0 1vw;
}

.nav-item {
	margin: 0 1vw;
}

.nav-link {
	font-family: proxima-nova, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.15vw;
	color: #FFFFFF;
	font-size: 1vw;
	font-weight: 400;
	background: none;
}

.login-nav-link {
	font-family: proxima-nova, sans-serif;
	color: #16609F;
	background: none;
	border: none;
	display: flex;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1vw;
	font-size: 0.85vw;
	font-weight: 600;
	margin: 0.5vw 0.35vw 0;
	flex-grow: 0;
	flex-shrink: 0;
	cursor: pointer;
}

.login-nav-link:hover {
	color: #0d79a3;
}

h3 {
	float: left;
	margin: 6vw 0 0 6vw;
	font-family: proxima-nova, sans-serif;
	color: #FFFFFF;
	font-size: 1.5vw;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1vw;
}


/* Page */

body {
    background-color: #16609F;
}

main {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-main {
    background-image: url("../assets/login-plankton.png");
}

.register-main {
    background-image: url("../assets/register-plankton.png");
}

h2 {
    font-family: ivypresto-headline, serif;
	font-style: italic;
	font-weight: 200;
	color: #FFFFFF;
	font-size: 3vw;
}

.auth-text {
    font-size: 1.25vw;
    color: #FFFFFF;
    margin: 0.5vw 0 3vw 0;
}

.role-text {
    font-size: 1.25vw;
    color: #FFFFFF;
    margin: 2vw 0 1vw 0;
	font-style: italic;
}

.main-container {
    margin: 5vw 6vw;
}


/* Form */

.show-form {
	display: block;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 1vw 0 0 0;
}

.role-button {
	background-color:#FFFFFF;
	box-shadow: 0px 3px 10px #00000012;
	border: 1px solid #DEDDDD;
	border-radius: 2vw;
	margin: 0.25vw 0.75vw 3vw 0;
	padding: 0.75vw 1.5vw;
    width: fit-content;
	display: flex;
    font-family: proxima-nova, sans-serif;
	color: #0C84C8;
	font-size: 1vw;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.08vw;
	cursor: pointer;
}

.role-button:hover {
	background-color: #16609F;
	color: #FFFFFF;
	border: 1px solid #16609F;
}

.role-button-clicked {
	background-color: #16609F;
	color: #FFFFFF;
	border: 1px solid #16609F;
}

.extra-margin {
	margin-left: 0.75vw;
}

.role-community-icon {
	width: 1.3vw;
	height: 1.3vw;
	margin: 0 0.5vw 0 0;
	background-image: url("../icons/person-blue.png");
	background-size: contain;
    background-repeat: no-repeat;
}

.role-community-icon-hover {
	background-image: url("../icons/person-white.png");
}

.role-scientist-icon {
	width: 1.5vw;
	height: 1.5vw;
	margin: 0 0.5vw 0 0;
	background-image: url("../icons/scientist-blue.png");
	background-size: contain;
    background-repeat: no-repeat;
}

.role-scientist-icon-hover {
	background-image: url("../icons/scientist-white.png");
}

input {
    box-shadow: 0px 3px 10px #00000012;
	border: 1px solid #DEDDDD;
	border-radius: 2vw;
	margin: 0 0.75vw 0 0;
	padding: 0.5vw 1vw;
    width: 25vw;
    font-family: proxima-nova, sans-serif;
	color: #858585;
	font-size: 1vw;
	font-weight: 400;
    margin: 0.25vw 0 0 0;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color:#adadad;
	opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:#adadad;;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color:#adadad;;
}

label {
    font-family: proxima-nova, sans-serif;
	color: #FFFFFF;
	font-size: 1vw;
	font-weight: 600;
    font-style: italic;
    margin: 0.25vw 0 0 0;
}

.login-submit {
    background-color: #16609F;
	border: none;
    border-radius: 2vw;
	font-family: proxima-nova, sans-serif;
	color: #FFFFFF;
	font-size: 1vw;
	font-weight: 400;
	text-align: left;
	display: block;
	width: 8vw;
	padding: 0.5vw 2.75vw;
	cursor: pointer;
    margin: 0.5vw 0 0 0;
}

.login-submit:hover {
    background-color: #0f93c7;
}

.register-submit {
    background-color: #16609F;
	border: none;
    border-radius: 2vw;
	font-family: proxima-nova, sans-serif;
	color: #FFFFFF;
	font-size: 1vw;
	font-weight: 400;
	text-align: left;
	display: block;
	width: 11vw;
	padding: 0.5vw 2vw;
	cursor: pointer;
    margin: 2vw 0 0 0;
}

.register-submit:hover {
    background-color: #0d79a3;
}

/* Error Message */
.error-message {
	color: #FFFFFF;
	margin: 1vw 0;
	font-size: 1vw;
	display: none;
}

.show {
	display: flex;
}